@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sec1 {
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(images/best-cofee.png) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: absolute;
  color: #226a80;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

header .navigation a {
  color: #226a80;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child) {
  margin-right: 30px;
}

header .navigation a:hover {
  background: #fff;
}

header .navigation {
  display: none;
}

label {
  display: block;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
  margin-right: 5px;
}

label:hover {
  color: #fff;
}

label .close-btn {
  display: none;
}

label .menu-btn {
    position: absolute;
  }

#check:checked ~ header .navigation {
  z-index: 2;
  position: fixed;
  background: rgba(114, 223, 255, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#check:checked ~ header .navigation a {
  font-weight: 700;
  margin-right: 0;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

#check:checked ~ header label .menu-btn {
  display: none;
}

#check:checked ~ header label .close-btn {
  z-index: 2;
  display: block;
  position: fixed;
}

#check {
  z-index: 3;
  display: none;
}

.content {
  max-width: 650px;
  margin: 60px 50px;
}

.content .info h2 {
  color: #226a80;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.content .info-btn {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover {
  background: #0c4f60;
}

//section2
.sec2 {
  margin-top: 50px;
  background-color: rgb(171, 171, 171);
}

.sec2 div {
  
  margin: 0 auto;
  padding: 40px;

  img {
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
  }
}

// section3
.sec3-img {
  border: 3px solid rgb(148, 168, 120);
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

//section4
.sec4 {
  background-color: #3a3e3b;
  color: white;
  height: 100%;
}

.sec4-pro {
  margin-top: 30px;

  h5 {
    color: rgba(67, 105, 43, 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }

}

.sec4-dimg {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

//section5
.sec-5 {
  background-color: rgb(171, 171, 171);
}

.out-explore {
  h3 {
    color: rgba(67, 105, 43, 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
}

.sec5-pad {
  width: 300px;
  height: fit-content;
  position: relative;
  border-radius: 10px;
  justify-content: space-between;

  .sec5-dimg {
    width: 250px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .sec5-pad1 {
    background-color: rgb(64, 107, 1);
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    h6 {
      color: white;
      font-size: 20px;
    }
  }

}

.sec5-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  background-color: rgb(173, 173, 0);
  border-radius: 50%;
  border: 1px solid #38353d;
}

//section 6
.so-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.nofunc div {
  color: rgb(148, 168, 120);
}

footer {
  background-color: rgb(148, 168, 120);

  .fot-img {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 767px) {
  .content {
    max-width: 650px;
    margin: 60px 90px;
  }

  header .navigation {
    display: none;
  }

  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }

  .fucinfo {
    margin-top: 25px;
  }
}

@media (min-width: 1023px) {
  .content {
    max-width: 900px;
    margin: 60px 180px;
  }

  label {
    display: none;
  }

  #check {
    z-index: 3;
    display: none;
  }

  header {
    top: 10px;
    padding: 15px 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  header .navigation {
    display: block;
    padding-top: 30px;
  }

  header .logo {
    padding-top: 10px;
  }

  .sec4-dimg {
    width: fit-content;
    margin-top: 50px;
  }

  .sec3 {
    justify-content: space-between;
    align-items: center;
  }

  .sec3-img {
    margin-top: 50px;
    height: 250px;
    width: 200px;
  }
}
